<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    <title></title>
  	
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <div class="btn-group">         
      <a class="navbar-brand" href="/">Home</a>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/recently">Recently Month</a></li>
        <li><a href="/component">Revenue Component</a></li>
      </ul>
    </div>
  </div>
    
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <ul class="nav navbar-nav navbar-right">
          <% if (!locals) { %>
              <a class="btn btn-default" href="/reg" role="button">Sign up</a>
              <a class="btn btn-success" href="/login" role="button">Sign in</a>
          <% } else {%>
            
             <li><a href="/userdetails" role = "button">        
                <%= user.name %> <% if(user.isManager == 1) { %> 
                (Manager) <% } else { %> 
                (Normal)
                <% } %>  
            </a></li>
            <li><a href="/logout">Logout</a></li> 
          <% } %>           
        </ul>
      </form>
    </div>              
  </div>
</div>

  	<div class="container">
  		<form method="post">
		<table id="revenueTable" class="table table-bordered table-hover" style="width:800px"> 
			<caption><h3>Revenue</h3></caption> 
			<thead>
				<tr> 
					<th>Total Revenue</th>
				</tr> 
			</thead> 
			<tbody>
        <tr>
          <td>$ <%= sumprofit%></td>
				</tr>
			</tbody> 
		</table>
    <div class="container">
          <div id="saleschart">generating the graph</div>
        </div>

    <table id="popularTable" class="table table-bordered table-hover" style="width:800px"> 
      <caption><h3>Popular Item</h3></caption> 
      <thead>
        <tr> 
          <th style="width:15%">Rank</th><th style="width:20%">Item Name</th><th>Unit Price</th><th>Profit</th> 
        </tr> 
      </thead> 
      <tbody>
        <% for (var i = 0; i < item.length; i++) {%>
        <tr>
          <% if (i == 0) {%> 
            <td class="danger"><span> <strong> 1st</strong></span></td>
          <% } else if (i == 1) { %>
            <td class="warning"><span> <strong> 2nd</strong></span></td>
          <% } else if (i == 2) { %>
            <td class="success"><span> <strong> 3rd</strong></span></td>
          <% } else { %> 
            <td><%= i + 1%></td>
          <% } %>
          <td><%= item[i].name  %></td>
          <td>$<%= item[i].price %></td>
          <td>$<%= item[i].profit %></td>
        </tr>
        <% } %>
      </tbody> 
    </table>
    <div class="container">
      <div id="itemgraph">generating the graph</div>
    </div>

    <table id="machineTable" class="table table-bordered table-hover" style="width:800px"> 
      <caption><h3>Machine Sales</h3></caption> 
      <thead>
        <tr> 
          <th style="width:15%">Rank</th><th style="width:20%">Machine Id</th><th style="width:39.5%">Address</th><th>Profit</th> 
        </tr> 
      </thead> 
      <tbody>
         <% for (var i = 0; i < machine.length; i++) {%>
         <tr>
          <% if (i == 0) {%> 
            <td class="danger"><span> <strong> 1st</strong></span></td>
          <% } else if (i == 1) { %>
            <td class="warning"><span> <strong> 2nd</strong></span></td>
          <% } else if (i == 2) { %>
            <td class="success"><span> <strong> 3rd</strong></span></td>
          <% } else { %> 
            <td><%= i + 1%></td>
          <% } %>
          <td><%= machine[i].id  %></td>
          <td><%= machine[i].address %></td>
          <td>$<%= machine[i].profit %></td>
        </tr>
        <% } %>
      </tbody> 
    </table>
	</form>
	</div>
  <div class="container">
     <div id="machinegraph">generating the graph</div>
  </div>


  </body>
  <hr/>
  <div class="container">
    <footer>
       <p>&copy;COEN359 2015</p>
    </footer>
  </div>
</html>

<script type="text/javascript" src="/javascripts/jscharts.js"></script>
<script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">

function setSalesChartsByMonth() {

    var myData = [];
   <% for (var i = 0; i < sales.length; i++) {%>
     var date = '<%= sales[i].date%>';
     var mon = date.split(' ');
     var newmon = mon[1];
     var profits = <%= sales[i].profits%>;
     var obj=[];
     obj.push(newmon);
     obj.push(profits);
     myData[<%=i%>] = obj;
     // console.log(myData[<%= i%>]);
  <% } %>  

      var myChart = new JSChart('saleschart', 'line');
      myChart.setDataArray(myData);
      myChart.setTitle('Revenue By Month');
      myChart.setAxisNameX('Month');
      myChart.setAxisNameY('Profit', true);
      myChart.draw();
}

function getMonth(date) {
  var mon = date.split(' ');
  var newmon = mon[1];
  return newmon;
}

function setItemCharts() {
  var myData = [];
   <% for (var i = 0; i < item.length; i++) {%>
     // console.log('<%= item[i].name%>');
     var name = '<%= item[i].name%>';
     var profit = <%= item[i].profit%>;
     var totalprofit = <%= sumprofit%>;
     var itemsalepercent = parseFloat(profit / totalprofit * 100).toFixed(1) ;
     var percent = parseFloat(itemsalepercent);
     var obj=[];
     obj.push(name);
     obj.push(percent);
     myData[<%=i%>] = obj;
     // console.log(myData[<%= i%>]);
  <% } %>  


  var myChart = new JSChart('itemgraph', 'pie');
  myChart.setTitle('Item Sales Percentage (%)');
  myChart.setDataArray(myData);
  myChart.draw();
}


function setMachineCharts() {
  var myData = [];
   <% for (var i = 0; i < machine.length; i++) {%>
     // console.log('<%= machine[i].address%>');
     var name = '<%= machine[i].address%>';
     var profit = <%= machine[i].profit%>;
     var totalprofit = <%= sumprofit%>;
     var machinesalepercent = parseFloat(profit / totalprofit * 100).toFixed(1) ;
     var percent = parseFloat(machinesalepercent);
     var obj=[];
     obj.push(name);
     obj.push(percent);
     myData[<%=i%>] = obj;
     // console.log(myData[<%= i%>]);
  <% } %>  


  var myChart = new JSChart('machinegraph', 'pie');
  myChart.setTitle('Machine Profit Percentage(%)');
  myChart.setDataArray(myData);
  myChart.set3D(true);
  myChart.draw();
}

setSalesChartsByMonth();
setItemCharts();
setMachineCharts();
</script>
